@charset "utf-8";
/****************************** Slajder - 20:4 ***************************/
.slajder {
    position: relative;
    overflow: visible;
    width: 100%;
    background-color: #e2e2e2;
}
.slajder input[type="radio"] {
    display: none;
}
/************************************ Slajdovi ************************/
.slajdovi {
    z-index: 1;
    position: relative;
    list-style: none;
}
/* ------------------------ */
.slajdovi img {
    width: 100%;
}
.slajdovi #ram {
    z-index: -1;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    line-height: 0em;
}
.slajdovi > .slajd {
    z-index: 0;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/* ------------------------ */
.slajd > .slika {
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 0em;
    visibility: hidden;
    opacity: 0;
    transform: scale(1);
    transition: opacity 2.5s ease -1s,
                transform 10s ease-in-out 1s;
}
@keyframes autoPlejSlika {
    0% {
        opacity: 0.5;
    }
    1% {
        transform: scale(1);
    }
    1%, 20%  {
        z-index: 2;
        visibility: visible;
        opacity: 1;
    }
    18% {
        transform: scale(1.2);
    }
    22%, 100% {
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        transform: scale(1);
    }
}
#sld-0:checked ~ .slajdovi > .s1 > .slika {
    transition: none;
    transform-origin: top left;
    animation: autoPlejSlika 40s infinite 0s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s2 > .slika {
    transition: none;
    transform-origin: top right;
    animation: autoPlejSlika 40s infinite 8s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s3 > .slika {
    transition: none;
    transform-origin: top center;
    animation: autoPlejSlika 40s infinite 16s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s4 > .slika {
    transition: none;
    transform-origin: top left;
    animation: autoPlejSlika 40s infinite 24s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s5 > .slika {
    transition: none;
    transform-origin: top right;
    animation: autoPlejSlika 40s infinite 32s ease-in-out;
}
#sld-1:checked ~ .slajdovi > .s1 > .slika,
#sld-2:checked ~ .slajdovi > .s2 > .slika,
#sld-3:checked ~ .slajdovi > .s3 > .slika,
#sld-4:checked ~ .slajdovi > .s4 > .slika,
#sld-5:checked ~ .slajdovi > .s5 > .slika {
    animation: none;
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transform: scale(1.2);
}
#sld-1:checked ~ .slajdovi > .s1 > .slika,
#sld-4:checked ~ .slajdovi > .s4 > .slika {
    transform-origin: top left;
}
#sld-3:checked ~ .slajdovi > .s3 > .slika {
    transform-origin: top center;
}
#sld-2:checked ~ .slajdovi > .s2 > .slika,
#sld-5:checked ~ .slajdovi > .s5 > .slika {
    transform-origin: top right;
}
/* ------------------------ */
.slajd > .naslov,
.slajd > .opis {
    z-index: 0;
    position: absolute;
    left: 5%;
    padding: 1.5%;
    visibility: hidden;
    opacity: 0;
    white-space: normal;
    text-align: left;
    font-family: inherit;
    color: floralwhite;
    line-height: normal;
    border-radius: 10px;
    box-sizing: border-box;
}
.slajd > .naslov {
    display: block;
    bottom: 48%;
    max-width: 30%;
    margin-left: 1%;
    background: rgba(0,0,0,0.6);
    font-size: 0.9em;
    text-transform: uppercase;
    transform: translateY(-100px);
    transition: opacity 0.95s ease 0.6s,
                transform 0.95s cubic-bezier(0.5, -0.5, 0.5, 1.5) 0.6s,
                visibility 0.95s ease 0.6s;
}
.slajd > .opis {
    display: none;
    top: 48%;
    max-width: 40%;
    background: rgba(0,0,0,0.4);
    font-size: .75em;
    transform: translateY(100px);
    transition: opacity 0.95s ease 0.85s,
                transform 0.95s cubic-bezier(0.5, -0.5, 0.5, 1.5) 0.85s,
                visibility 0.95s ease 0.85s;
}
.naslov > .tekst {
    display: inline-block;
    z-index: 2;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.95s ease 0.75s,
                transform 0.95s cubic-bezier(0.5, -0.5, 0.5, 1.5) 0.75s;
}
.opis > .tekst {
    display: inline-block;
    z-index: 1;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.95s ease 1s,
                transform 0.95s cubic-bezier(0.5, -0.5, 0.5, 1.5) 1s;
}
#sld-1:checked ~ .slajdovi > .s1 > .naslov,
#sld-1:checked ~ .slajdovi > .s1 > .opis,
#sld-2:checked ~ .slajdovi > .s2 > .naslov,
#sld-2:checked ~ .slajdovi > .s2 > .opis,
#sld-3:checked ~ .slajdovi > .s3 > .naslov,
#sld-3:checked ~ .slajdovi > .s3 > .opis,
#sld-4:checked ~ .slajdovi > .s4 > .naslov,
#sld-4:checked ~ .slajdovi > .s4 > .opis,
#sld-5:checked ~ .slajdovi > .s5 > .naslov,
#sld-5:checked ~ .slajdovi > .s5 > .opis {
    animation: none;
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
#sld-1:checked ~ .slajdovi > .s1 .tekst,
#sld-2:checked ~ .slajdovi > .s2 .tekst,
#sld-3:checked ~ .slajdovi > .s3 .tekst,
#sld-4:checked ~ .slajdovi > .s4 .tekst,
#sld-5:checked ~ .slajdovi > .s5 .tekst {
    animation: none;
    opacity: 1;
    transform: translateY(0px);
}
/*-----------------------------*/
@keyframes autoPlejNaslov {
    1% {
        opacity: 0;
        transform: translateY(-100px);
    }
    2% {
        visibility: visible;
        opacity: 1;
        z-index: 2;
        transform: translateY(10px);
    }
    2.5%, 18% {
        transform: translateY(0px);
    }
    18.5% {
        transform: translateY(10px);
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }
    19%, 100% {
        transform: translateY(-100px);
    }
    20%, 100% {
        opacity: 0;
        visibility: hidden;
        z-index: 0;
    }
}
#sld-0:checked ~ .slajdovi > .s1 > .naslov {
    transition: none;
    animation: autoPlejNaslov 40s infinite 0s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s2 > .naslov {
    transition: none;
    animation: autoPlejNaslov 40s infinite 8s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s3 > .naslov {
    transition: none;
    animation: autoPlejNaslov 40s infinite 16s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s4 > .naslov {
    transition: none;
    animation: autoPlejNaslov 40s infinite 24s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s5 > .naslov {
    transition: none;
    animation: autoPlejNaslov 40s infinite 32s ease-in-out;
}
/*-----------------------------*/
@keyframes autoPlejOpis {
    1% {
        opacity: 0;
        transform: translateY(100px);
    }
    2% {
        visibility: visible;
        opacity: 1;
        z-index: 2;
        transform: translateY(-10px);
    }
    2.5%, 18% {
        transform: translateY(0px);
    }
    18.5% {
        transform: translateY(-10px);
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }
    19%, 100% {
        transform: translateY(100px);
    }
    20%, 100% {
        opacity: 0;
        visibility: hidden;
        z-index: 0;
    }
}
#sld-0:checked ~ .slajdovi > .s1 > .opis {
    transition: none;
    animation: autoPlejOpis 40s infinite 0s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s2 > .opis {
    transition: none;
    animation: autoPlejOpis 40s infinite 8s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s3 > .opis {
    transition: none;
    animation: autoPlejOpis 40s infinite 16s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s4 > .opis {
    transition: none;
    animation: autoPlejOpis 40s infinite 24s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s5 > .opis {
    transition: none;
    animation: autoPlejOpis 40s infinite 32s ease-in-out;
}
/*--------------------------*/
@keyframes autoPlejNaslovTxt {
    1.2% {
        opacity: 0;
        transform: translateY(-100px);
    }
    2.2% {
        visibility: visible;
        opacity: 1;
        z-index: 2;
        transform: translateY(10px);
    }
    2.7%, 18.2% {
        transform: translateY(0px);
    }
    18.7% {
        transform: translateY(10px);
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }
    19.2%, 100% {
        transform: translateY(-100px);
    }
    20%, 100% {
        opacity: 0;
        visibility: hidden;
        z-index: 0;
    }
}
#sld-0:checked ~ .slajdovi > .s1 > .naslov > .tekst {
    transition: none;
    animation: autoPlejNaslovTxt 40s infinite 0s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s2 > .naslov > .tekst {
    transition: none;
    animation: autoPlejNaslovTxt 40s infinite 8s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s3 > .naslov > .tekst {
    transition: none;
    animation: autoPlejNaslovTxt 40s infinite 16s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s4 > .naslov > .tekst {
    transition: none;
    animation: autoPlejNaslovTxt 40s infinite 24s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s5 > .naslov > .tekst {
    transition: none;
    animation: autoPlejNaslovTxt 40s infinite 32s ease-in-out;
}
/*-----------------------------*/
@keyframes autoPlejOpisTxt {
    1.3% {
        opacity: 0;
        transform: translateY(100px);
    }
    2.3% {
        visibility: visible;
        opacity: 1;
        z-index: 2;
        transform: translateY(-10px);
    }
    2.3%, 18.3% {
        transform: translateY(0px);
    }
    18.8% {
        transform: translateY(-10px);
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }
    19.3%, 100% {
        transform: translateY(100px);
    }
    20%, 100% {
        opacity: 0;
        visibility: hidden;
        z-index: 0;
    }
}
#sld-0:checked ~ .slajdovi > .s1 > .opis > .tekst {
    transition: none;
    animation: autoPlejOpisTxt 40s infinite 0s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s2 > .opis > .tekst {
    transition: none;
    animation: autoPlejOpisTxt 40s infinite 8s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s3 > .opis > .tekst {
    transition: none;
    animation: autoPlejOpisTxt 40s infinite 16s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s4 > .opis > .tekst {
    transition: none;
    animation: autoPlejOpisTxt 40s infinite 24s ease-in-out;
}
#sld-0:checked ~ .slajdovi > .s5 > .opis > .tekst {
    transition: none;
    animation: autoPlejOpisTxt 40s infinite 32s ease-in-out;
}
/************************************ Play Pause ************************/
.kontrole {
    z-index: 2;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .5s all .0s ease;
}
/* ------------------------ */
.kontrole > .auto,
.kontrole > .stop {
    position: absolute;
    top: -30px;
    left: calc(50% - 30px);
    display: block;
    visibility: visible;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.kontrole .auto {
    background: rgba(0,0,0,.1) url(../img/bcg/replay.svg) no-repeat center;
    background-size: contain;
}
.kontrole .stop {
    background: rgba(0,0,0,.1) url(../img/bcg/pauza.svg) no-repeat center;
    background-size: contain;
}
@keyframes startStop {
    0%, 20% {
        z-index: 1;
    }
    21%, 100% {
        z-index: 0;
    } 
}
#sld-0:checked ~ .kontrole > .stop.s1 {
    animation: startStop 40s infinite 0s linear;
}
#sld-0:checked ~ .kontrole > .stop.s2 {
    animation: startStop 40s infinite 8s linear;
}
#sld-0:checked ~ .kontrole > .stop.s3 {
    animation: startStop 40s infinite 16s linear;
}
#sld-0:checked ~ .kontrole > .stop.s4 {
    animation: startStop 40s infinite 24s linear;
}
#sld-0:checked ~ .kontrole > .stop.s5 {
    animation: startStop 40s infinite 32s linear;
}
#sld-1:checked ~ .kontrole > .stop,
#sld-2:checked ~ .kontrole > .stop,
#sld-3:checked ~ .kontrole > .stop,
#sld-4:checked ~ .kontrole > .stop,
#sld-5:checked ~ .kontrole > .stop {
    visibility: hidden;
}
#sld-0:checked ~ .kontrole > .auto {
    visibility: hidden;
}
/* ----------------------- */
.kontrole > .lijeva,
.kontrole > .desna {
    position: absolute;
    top: -50px;
    display: block;
    width: 40px;
    height: 100px;
    border-radius: 0%;
    cursor: pointer;
}
.kontrole .lijeva {
    left: 0%;
    background: url(../img/bcg/l-str.svg) no-repeat center;
    background-size: contain;
}
.kontrole .desna {
    right: 0%;
    background: url(../img/bcg/d-str.svg) no-repeat center;
    background-size: contain;
}
@keyframes LijevoDesno {
    0%, 20% {
        z-index: 2;
    }
    21%, 100% {
        z-index: 0;
    }
}
#sld-0:checked ~ .kontrole > .lijeva.s5,
#sld-0:checked ~ .kontrole > .desna.s2 {
    animation: LijevoDesno 40s infinite 0s linear;
}
#sld-0:checked ~ .kontrole > .lijeva.s1,
#sld-0:checked ~ .kontrole > .desna.s3 {
    animation: LijevoDesno 40s infinite 8s linear;
}
#sld-0:checked ~ .kontrole > .lijeva.s2,
#sld-0:checked ~ .kontrole > .desna.s4 {
    animation: LijevoDesno 40s infinite 16s linear;
}
#sld-0:checked ~ .kontrole > .lijeva.s3,
#sld-0:checked ~ .kontrole > .desna.s5 {
    animation: LijevoDesno 40s infinite 24s linear;
}
#sld-0:checked ~ .kontrole > .lijeva.s4,
#sld-0:checked ~ .kontrole > .desna.s1 {
    animation: LijevoDesno 40s infinite 32s linear;
}
#sld-1:checked ~ .kontrole > .lijeva.s5,
#sld-1:checked ~ .kontrole > .desna.s2,
#sld-2:checked ~ .kontrole > .lijeva.s1,
#sld-2:checked ~ .kontrole > .desna.s3,
#sld-3:checked ~ .kontrole > .lijeva.s2,
#sld-3:checked ~ .kontrole > .desna.s4,
#sld-4:checked ~ .kontrole > .lijeva.s3,
#sld-4:checked ~ .kontrole > .desna.s5,
#sld-5:checked ~ .kontrole > .lijeva.s4,
#sld-5:checked ~ .kontrole > .desna.s1 {
    z-index: 2;
}

/************************************ Krugovi taÄkice ************************/
.krugovi {
    z-index: 4;
    position: absolute;
    display: inline-block;
    bottom: 1%;
    left: 0;
    width: 100%;
    text-align: center;
}
/* ------------------------ */
.krugovi .krug {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0% 0.5%;
    border: 1px solid #a2a2a2;
    border-radius: 50%;
    background: rgba(0,0,0,.2);
    cursor: pointer;
}
#sld-1:checked ~ .krugovi > .s1 > .krug,
#sld-2:checked ~ .krugovi > .s2 > .krug,
#sld-3:checked ~ .krugovi > .s3 > .krug,
#sld-4:checked ~ .krugovi > .s4 > .krug,
#sld-5:checked ~ .krugovi > .s5 > .krug {
    background: rgba(0,0,0,.8);
}
@keyframes promjeniKrug {
    0%, 20% {
        background: rgba(0,0,0,.8);
    }
    21%, 100% {
        background: rgba(0,0,0,.2);
    }
}
#sld-0:checked ~ .krugovi > .s1 > .krug {
    animation: promjeniKrug 40s infinite 0s linear;
}
#sld-0:checked ~ .krugovi > .s2 > .krug {
    animation: promjeniKrug 40s infinite 8s linear;
}
#sld-0:checked ~ .krugovi > .s3 > .krug {
    animation: promjeniKrug 40s infinite 16s linear;
}
#sld-0:checked ~ .krugovi > .s4 > .krug {
    animation: promjeniKrug 40s infinite 24s linear;
}
#sld-0:checked ~ .krugovi > .s5 > .krug {
    animation: promjeniKrug 40s infinite 32s linear;
}
/* ------------------------ */
.slajder:hover .kontrole {
    visibility: visible;
    opacity: 1;
}
.kontrole .auto:hover,
.kontrole .stop:hover,
.kontrole .lijeva:hover,
.kontrole .desna:hover {
    background-color: rgba(0,0,0,.2);
}
@media only screen and (min-width: 1100px) {
  .slajd > .opis {
      display: block;
  }
}
/******************************** KRAJ ***************************/


